h5.page_title {
  width: 90%;
  font-size: 1rem;
  color :#666;
  padding-bottom: .7rem;
  margin-top: 50px;
  text-align: left;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
}

h6.page_title {
  font-size: 1.2rem;
  color :rgb(44, 40, 40);
  padding-bottom: 1rem;
  margin-top: 30px;
  text-align: center;
  font-weight: 400;
}

.listview_wrap {
  width: 100%;
 display: flex;
 flex-direction: column;
  
}

.flexline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.space_right{
  margin-right: 1rem;
}

span.self_right {
  display: flex;
  width: 200px;
  justify-content: flex-end;
}

h6, h5 {
  margin-block-start: 0.3rem;
  margin-block-end: 0.3rem;
  
}


.MuiAccordionSummary-root{
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  padding-left: 1rem;
}

.MuiAccordionSummary-root.Mui-expanded {
  margin: 0px 0px;
  padding: 0px 0px;
  padding-left: 1rem;
}

.MuiAccordionSummary-content {
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  min-height: 10px;
}



.icon_with_h6 {
  padding-top: .2rem;
  padding-right: .2rem;
}

.icon_with_h6 span {
  color: rgb(41, 53, 107);
}

/*  buttons */
.MuiButton-root span{
  text-transform: none;
  font-size: 0.9rem;
}

span .MuiRating-iconEmpty {
  color: #ccc;
}

.gotoBookingBT.MuiButton-root {
  background-color: rgb(79, 179, 101);
}

.gotoBookingBT.MuiButton-root .MuiButton-label{
  color: #fff;
  font-size: 1.2rem;

}

//picker
.PrivatePickersPopper-paper-7 .MuiInternalDateTimePickerTabs-tabs {
  background-color: rgb(206, 214, 223);
}



.MuiButton-root.left_spaceBT {
  margin-left: 10px;
}