.wrap_dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .7rem;

}

.booklist_wrap {
  width: 90%;
  margin-top: 20px;

}

.bookinglist_wrap {
  margin-bottom: 0.3rem;
}

.booklist_wrap .MuiAccordionSummary-root {
  background: linear-gradient( 20deg ,#b9e4ab 10%, #9fd88e);
  color: #222;
}

.booklist_wrap .MuiAccordionSummary-root.Mui-expanded {
  background: linear-gradient( 20deg ,#e0911a 10%, #ecb666);
  color: #fff;
}

.booklist_wrap.history .MuiAccordionSummary-root {
  margin: 0px 0px;
  background: linear-gradient( 20deg ,#c2cbcf 10%, #a1ac9e);
}
.booklist_wrap.history .MuiAccordionSummary-root.Mui-expanded {
  background: linear-gradient( 20deg ,#c2cbcf 10%, #a1ac9e);
  color: #fff;

}

//p

.bookedlist_top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
}

.width200Text {
  width: 200px;
}