.wrap_dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .7rem;

}

.booklist_wrap {
  width: 90%;
  margin-top: 20px;

}

.booklist_wrap .MuiAccordionSummary-root {
  background-color: #b3e6a4;
  color: #222;
}

.booklist_wrap .MuiAccordionSummary-root.Mui-expanded {
  background-color: #539b3d;
  color: #fff;
}

.booklist_wrap.history .MuiAccordionSummary-root {
  margin: 0px 0px;
  background-color: #eee;
}
.booklist_wrap.history .MuiAccordionSummary-root.Mui-expanded {
  background-color: #666;
  color: #fff;

}

//p

.bookedlist_top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
}

.width200Text {
  width: 200px;
}

.right_spaceBT {
  margin-right: 10px;
}
