.wrap_dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .7rem;

}

.booklist_wrap {
  width: 90%;

}



.booklist_wrap .MuiAccordionSummary-root {
  width: 100%;
  background-color: rgb(190, 236, 151);
  color: #222;
  margin: 0px 0px;
  padding: 0px 0px;
  padding-left: 1rem;
}

.booklist_wrap .MuiAccordionSummary-root.Mui-expanded {
  background-color: rgb(51, 179, 28);
  color: #fff;
  margin: 0px 0px;
  padding: 0px 0px;
  padding-left: 1rem;
}




//p

.bookedlist_top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
}

.width200Text {
  width: 200px;
}