
.popup_checkout.MuiPaper-root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  text-align: center;
  width: 450px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup_time .MuiGrid-root {
  padding: 1rem;
}

.popup_time .MuiGrid-item {
  margin: 10px auto;
}

.popup_rating.MuiPaper-root{
  position: absolute;
  text-align: center;
  padding: 1rem;
  right: 1rem;
  bottom: 4rem;
  width: auto;
  height: auto;
}


/* for map popup */
.mapBox {
  background-color: #333;
  width: 100vw;
  height: 80vh;
}


.leaflet-container {
	width: 100%;
  height: 100%;
}

.leaflet-popup-content p {
  margin: 0.2rem 0;
  color: #333;
}

.leaflet-popup-content p.text_ss {
  font-size: .9rem;
  color: #666;
}

#map_spot_layer {
  height: auto;
  bottom: 0;
  left: 10px;
  background-color: #fff;
  z-index: 999;
}

.map_popup_wrap {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leaflet-popup-content {

  background-color: #fff;
  padding: 0;
}

h3.map_popup_title {

}




.inlineIcon {
  display: inline-flex;

}

.popup_checkout_map{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 260px;
  height: 400px;
  top: 0;
  left: 0;
  z-index: 999;
  padding: .4rem;
  transform: translate(105%, 0%);
}