.wrap_registerCar {
  width: 80%;
  height: auto;
  padding: 1rem;
  border: 1px solid #ccc;
}

.input_register {
  margin-bottom: 1rem;
}

.input_register_left {
  margin-right: 1rem;
}

.form_title {
  padding-top: 1rem;
}