.spotlist_wrap {
  width: 90% ;

}

.spotlist_wrap .MuiAccordion-root {
  margin-top: 1rem;
}

.spotlist_wrap .MuiAccordionSummary-root {
  background-color: rgb(66, 107, 189);
  color: #fff;
}

.spotlist_box {
  width: 90%;
  border: 1px solid #ccc;
  margin : 1rem 1rem;
  background-color: #fff;
}

.address {
  width: 250px;
}

.bodytext_w_h6 {
  padding-top: .3rem;
  padding-left: 2rem;
}

.grid_fix_width {
  width: 300px
}


