
.spotlist_wrap {
  width: 90% ;
  padding-top: 1rem;
  visibility:visible;
  align-self: center;

}


.spotlist_wrap .MuiAccordionSummary-root {
  background-color: rgb(46, 107, 185);
  color: #fff;
}

.spotlist_wrap .MuiAccordionSummary-root.Mui-expanded {
  background-color: rgb(189, 66, 72);
  color: #fff;
}



.spotlist_box {
  width: 90%;
  border: 1px solid #ccc;
  background-color: #fff;
}

.streetName_title_list {
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.price_title_list {
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.spot_picture {
  display: inline-flex;
  width: 550px;
  justify-content: center;
}

.MuiAccordionDetails-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.bodytext_w_h6 {
  padding-top: .3rem;
  padding-left: 2rem;
}

.title_text_h6 {
  font-size: 1.2rem;
  font-weight: 500;
}

.grid_fix_width {
  width: 300px
}


