.topbar {

  *{
    color: #fff;
  }

  a {
    color: #fff;
  }

  .bar_left {
    flex-grow: 1;
    
    .logo {
      font-size: 2rem;
    }
  }

  .BT_dashboard {
    font-size: 1rem;
    .icon_w_text {
      margin-right: .5rem;
    }
  }
}


.tab_dashboard {

  .tab_item {
    padding: 0 2rem;
    color : #fff;
    background-color: rgb(100, 96, 96);
    opacity: 1;
  }
  .tab_item.Mui-selected {
    padding: 0 2rem;
    color : #fff;
    background-color: rgb(83, 177, 130);
  }
}
